<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378403094574-h1bp3euv44j6me4s7mdb3fmdkfh622be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378403094574-h1bp3euv44j6me4s7mdb3fmdkfh622be</string>
	<key>API_KEY</key>
	<string>AIzaSyDdZiQTqtk8hQBsWMGnegDwGfk0ryNa9b4</string>
	<key>GCM_SENDER_ID</key>
	<string>378403094574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lujain.KhiarSupermarket</string>
	<key>PROJECT_ID</key>
	<string>khiar-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>khiar-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378403094574:ios:76a054df1423d2be805fbf</string>
</dict>
</plist>